div.lscard{
  padding: 20px;
  margin: 0 auto;
  margin-top: 7%;
  margin-bottom: 10%;
  border-radius: 2%;
  max-width: 350px;
  min-height: 450px;
  background-color: rgb(171, 209, 255);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
input.form-control {
  margin: 0 auto;
  width: 85%;
  border-color: #727272;
  background-color: rgb(232, 255, 248);
}

small.signup-redirect {
  margin-left: 25%;
}

small.login-redirect {
  margin-left: 20%;
}

.icon {
  width: 60px;
  height: auto;
  margin: 0 auto;
    margin-bottom: 10px;
}

label {
  margin-left: 10%;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.login {
  text-align: center;
  margin-bottom: 10px;
}
.btn-primary {
  background-color:rgb(171, 209, 255);
  color: black;
  border-color: rgb(110, 110, 110);
  transition: ease-in;
  transition-duration: 0.2s;
}
.btn-primary:hover {
  background-color: rgb(1, 137, 44);
  border-color: rgb(114, 114, 114);
  color: rgb(255, 255, 255);
}

form {
  margin-top: 20px;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
body{
  background: -webkit-linear-gradient(left,#ebf1f9,#e6f0ff,#e4f9f7
, #c9d6d6);
}

.navbar{
  background-color: #f5ffff;
}

.center{
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.carousel-item img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 400px;
  }
}
@media (min-width: 769px) {
  .carousel-item img {
    height: 650px;
    
  }
}
.footer {
  position:static;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
}

.modal-content{
  background: -webkit-linear-gradient(left,#ebf1f9,#e6f0ff,#e4f9f7
, #c9d6d6);
border-width: 1.5px;
border-color: rgb(0, 0, 0);
}