button.btn-secondary {
   margin-left: 1cm;
}

div#graph {
   visibility: hidden;
}

.container {
   width: 200px;
}
input.email {
   margin: 5px;
}

button.login {
   outline: 2px;
   color: black;
}