body{
  background: -webkit-linear-gradient(left,#ebf1f9,#e6f0ff,#e4f9f7
, #c9d6d6);
}

.navbar{
  background-color: #f5ffff;
}

.center{
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.carousel-item img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 400px;
  }
}
@media (min-width: 769px) {
  .carousel-item img {
    height: 650px;
    
  }
}
.footer {
  position:static;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
}